<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.TPIntegradorConnectionString"
            connectionString="Data Source=090L3PC09-79693;Initial Catalog=TPIntegrador;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>